<div class="footer-about">
	<div class="footer-about-inner">

		<div class="cta-careers">
			Already doing all this?<br>
			<a href="https://bigwing.com/jobs/" class="button party-blue">BigWing Jobs</a>
		</div>

		<div class="license">
			<p>
				Open source, MIT licensed.<br>
				Copyright {{ site.time | date: '%Y' }}
				<a href="https://twitter.com/BigWingAgency">@BigWingAgency</a>.</p>
		</div>
	</div>
</div>
<footer role="contentinfo">
	<div class="page-footer-content">
		<a href="https://bigwing.com" class="logo-link">BigWing</a>
		<nav class="page-nav expanded" role="navigation" aria-label="footer-navigation">
			<ul>
				<li><a href="https://bigwing.com">BigWing.com</a></li>
			</ul>
			<div class="footer-social social-networks">
				<a href="https://twitter.com/BigWingAgency" class="twitter"><span class="screen-reader-text">Twitter: @BigWingAgency</span></a>
				<a href="https://github.com/BigWing" class="github"><span class="screen-reader-text">Github: BigWing</span></a>
			</div>
		</nav>
	</div>
</footer>
